
.App {
  color: #111;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.nav {
    padding:5px 2em;
    background-color:#4e61ce;
    color: #111;
    width:100%;
    height:100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.nav-list li {
    /* margin: 10px; */
    font-family: Poppins, Arial;
    font-size: 14px;

}

.login-container {
    min-height: 90vh;
    /* position: absolute; */
    width: 100%;
    background-image: url(../images/butterfly.jpg);
    background-size: cover;
    background-position: 20%, -20%;
    background-repeat: no-repeat;
}

#notes>div {
    transition: all 0.3s ease-out;
}

/* search bar */
.search-container{
    width:200px;
    /* float:right; */
    position:absolute;
    right:1em;
    clear: both; 
    margin:5px 1em;
    z-index:1;


}
.search-bar{
    width:100%;
    margin-bottom:10px;
    position: relative;
}

.fa-search{
    position:absolute;
    right:10px;
    cursor:pointer;
    bottom:5px;
    transition:0.3s ease-in-out
}
.fa-search:hover{
    color:darkblue;
}
.search-input{
    width:100%;
    border:1px inset silver;
    border-radius: 30px;
    outline: none;
    padding: 2px 5px;
    font-size:16px;
    text-transform: uppercase;

    background: transparent;
}
.results-container{
    width:100%;
   max-height:70vh;
    overflow-y:auto ; 
}
.results-list {
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    align-content: center;
    text-align: center;
    flex-direction: column;
    flex: 1;
    background-color: rgb(255, 255, 255);
    border-radius:10px;
    color:inherit;
    flex-shrink: 1;
    flex-wrap: wrap;


}.open-search{
    opacity:1;
    transition:0.2s ease-in-out;
}
.close-search{
    opacity:0;
    pointer-events:none;
}
.single-result{
    display:flex;
    flex-direction: column;

}
.results-list li{
    width:100%;
    border-bottom:1px solid rgb(212, 212, 208);

    font-family: sans-serif;
    font-size:12px;
}

.button-text {
    font-family: sans-serif, Courier, monospace;
    font-weight: 700;
}
