
.App {
    color: #111;
    width:100%;
    font-family: Verdana,sans-serif;
    height:100%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
.primary{
    color:skyblue;

}
.dark{
    background-color:#1114;
}
.full{
    min-height:90vh;
}
.grey{
color:#777;
}
.md{
    font-size:18px;
}
 .hide{
        display:none;
    }
.faded{
    color:#777;
}
.nav {
    padding:1em 2em;
    color: #111;
    width:90%;
    margin: auto;
    height:100%;
    position:sticky;
    z-index:1000;
    top:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo{
    max-width:100px;
    height:auto;
}

.nav-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


.login-container {
    min-height: 90vh;
    /* position: absolute; */
    width: 100%;
    background-image: url(../images/butterfly.jpg);
    background-size: cover;
    background-position: 20%, -20%;
    background-repeat: no-repeat;
}

#notes>div {
    transition: all 0.3s ease-out;
}

/* search bar */
.search-container{
    width:400px;
    position:absolute;
    left:50%;
    top:40%;
    transform:translate(-50%);
    clear: both; 
    margin:5px 1em;
    z-index:1;
    transition: all 0.2s ease-in-out;
}
.search-container-top{
    width:220px;
    position:absolute;
    right:1em;
    clear: both; 
    margin:5px 1em;
    z-index:1;


}
.progress-bar{
    position:absolute;
    top:50%;
    right:0;
    transform: translateY(-15%);
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#fff3;
}
.search-bar{
    width:100%;
    margin-bottom:10px;
    position: relative;
}

.fa-search{
    position:absolute;
    right:10px;
    cursor:pointer;
    color:#E8DBD5;
    bottom:7px;
    transition:0.3s ease-in-out
}
.fa-search:hover{
    color:#eee;
}
.search-input{
    width:100%;
    border:1px solid #e0e0e0;
    background-color: aliceblue;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    font-size:14px;
    /* text-transform: uppercase; */
}
.text-light{
color:#eee;
}
.text-dark{
color:#111;
}
.font-sm{
font-size:14px;
}
.font-md{
font-size:18px;
}
.font-lg{
font-size:24px;
}
.mg-s{
margin:1em;
}
.ml-2{
margin-left: 2em;


}

.mr-s{
margin-right:5px;
}
.mb-2{
margin-bottom: 1em;
}
.center-20{
position:absolute;
left:50%;
transform: translate(-50%);
top:20%
}
.rounded-md{
border:2px inset silver;
border-radius:20px;
}

.rounded-sm{
border-radius:5px;
}
.center-30{
position:absolute;
left:50%;
transform: translate(-50%);
top:30%
}
.center-40{
position:absolute;
left:50%;
transform: translate(-50%);
top:40%
}
.moderator-form form{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.center-10{
position:absolute;
left:50%;
transform: translate(-50%);
top:10%
}
.blend{
background-color:#cd935e;
}
.cnt{
text-align: center;
}
.tr{
background-color: transparent;
}
.full{
width:100%;
min-height:90vh;  
}
.dark{
background-color: #130f0fc2;
}
.shadow{
box-shadow:0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12)}
.center{
position:absolute;
top:50%;
left:50%;
transform: translate(-50%);
}
.form-input{ 
    font-family:inherit;
    background-color: aliceblue;
    outline: none;
    padding: 10px;
    font-size:14px;
 
}
.container{
padding:2em;
}
.bb-only{
    border:none;
    background-color: transparent;
    border-bottom:2px solid #000000;

}
.form-container{
width:400px;
min-height:150px;
display:flex;
flex-direction:column;
justify-content: space-evenly;
align-items: flex-start;
flex-wrap: wrap;
}
.results-container{
    width:100%;
    box-shadow: 0 0 2px 2px rgb(243, 241, 241);
   max-height:50vh;
       border-radius:10px;

    overflow-y:auto ; 
}
.results-list {
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    align-content: center;
    text-align: center;
    flex-direction: column;
    flex: 1;
    background-color: rgb(255, 255, 255);
    border-radius:10px;
    color:inherit;
    flex-shrink: 1;
    flex-wrap: wrap;


}.open-search{
    opacity:1;
    transition:0.2s ease-in-out;
}
.close-search{
    opacity:0;
    pointer-events:none;
}
.single-result{
    display:flex;
    flex-direction: column;

}
.results-list li{
    width:100%;
    border-bottom:1px solid rgb(212, 212, 208);
    padding:10px 0;
    font-family: sans-serif;
    font-size:12px;
}

.button-text {
    font-family: sans-serif, Courier, monospace;
    font-weight: 700;
}
.loading{
    width:100%;
    height:100vh;
    position:absolute;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:1000;
    left:0;
    transition:all 0.4s ease-in-out;

}
.dark-bg{
        background-color:#000;

}
.vague-bg{
    background-color:#1118;
}
.loading-closed{
    opacity:0;
    transform:translateY(-200px);
  height:0;
}
/* about page css */
.about{
    width:100%;
    min-height:90vh;
    justify-content:center;
    display:flex;
    align-items: center;
    background-color:#cd945eec;
    
}
.about-paragraph{
    text-align: center;
    width:80%;
    letter-spacing:1px;
}
.footer{
    position:absolute;
    width:100%;
    bottom:0;
    text-align: center;
}
.footer small{
    width:100%;
    color:rgba(135, 133, 130, 0.535);
    text-align: center;
}
@media screen and (max-width:300px){
  .search-container-top{
    width:80%;
    left:50%;
    transform: translate(-50%);
    }
     .search-container-top{
      width:80%;
    }

  }

  @media screen and (max-width:600px){
  .search-container{
    width:80%;
    margin:1em auto;
    }
     .search-container-top{
      width:80%;
    }
    .form-container{
    width:80%;
    }

  }
  @media screen and (max-height:400px){

    .search-container{
        top:55%;
    }
    .footer{
        width:20%;
        right:0;
    }
  } 