@import '~antd/dist/antd.css';
.App {
    color: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

nav {
    padding: 0 2em;
    color: #111;
    width:100%;
    min-height: 7vh;
    max-height:10vh;
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

ul li {
    margin: 10px;
    font-family: Poppins, Arial;
    font-size: 16px;
}

.login-container {
    min-height: 90vh;
    /* position: absolute; */
    width: 100%;
    background-image: url(../images/butterfly.jpg);
    background-size: cover;
    background-position: 20%, -20%;
    background-repeat: no-repeat;
}

#notes>div {
    transition: all 0.3s ease-out;
}


/* modal */
.opened{display: block;}

.modal-container {
    display: block;
    z-index: 1000;
    width: 100%;
    position:absolute;
    /* border: 2px solid red; */
    padding: 10px;
    min-height:90vh;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    background-color: rgba(172, 120, 23,0.8);
}
.modal-box{
    width:50%;
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%);
    height:100px;
    background-color:#1199;
    margin: auto;
    box-shadow: 0 0 5px  rgb(2, 2, 2);
    text-align: center;

}
.modal{
        position:absolute;
        top:50%;
        left:50%;
      width:40%;
 transform: translate(-50%);
}

.modal-input{
    width:100%;
    border:none;
    border-bottom:2px inset #eee;
   outline: none;
    padding: 2px 5px;

    text-transform: uppercase;

    background: transparent;
}
.closed {
    display: none;
}

.message-box {
    width: 100%;
    font-family: 'poppins', Arial, Helvetica, sans-serif;
    /* box-shadow: 2px 2px 1px 1px #4e4c4c; */
    height: 4em;
    padding: 10px;
    color: red;
    text-align: center;
}

.search-box {
    display: flex;
    flex-direction: column;
    background-color: azure;
    /* margin-top: 2px; */
    flex-shrink: 1;
    flex-wrap: wrap;
    border: 0.5px solid rgb(23, 59, 160);
    border-top: none;
}

.button-text {
    font-family: sans-serif, Courier, monospace;
    font-weight: 700;
}