:root{
    --card2-bg:#AE5348;
    --card1-bg:#4B2823;

}
.pd2{
    padding:0 2em;
}

.cards-container{
    display:flex;
    width:100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    min-height:50vh;
}
.card-text{
    color:#fff;

}
.card{
    display:flex;
    justify-content: center;
    align-items: center;
    width:250px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    margin:1em 0;
    height:200px;
transition: all 0.3s ease-in-out;
}
.card1{
 background-color: var(--card1-bg);

}
.card2{
    background-color:var(--card2-bg);
}
.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.support-paragraph{
    width:70%;
    letter-spacing: 1px;
    font-family:sans-serif;
    padding:1em;
    margin:auto;
    color:#ddd;

}
@media screen and (max-width:600px){
   .cards-container .card{
        width:100%;
        margin: 0;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);

    }
    .support-paragraph{
        width:90%;
        font-size:18px;
    }
    .cards-container{
        justify-content:center;
        align-items: center;
    }
}