
.pd2{
    padding:0 2em;
}

.cards-container{
    display:flex;
    width:100%;
    justify-content: space-evenly;
    align-items: center;
    min-height:50vh;
    flex-wrap: wrap;
}
.card-text{
    color:#fff;

}
.card{
    display:flex;
    justify-content: center;
    align-items: center;
    width:250px;
    border-radius: 2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.6);
    margin:1em 0;
    height:200px;
transition: all 0.3s ease-in-out;
}
.card1{
 background: var(--card1-bg);

}
.card2{
    background:var(--card2-bg);
}
.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.support-paragraph{
    width:70%;
    padding:1em;
    font-family:sans-serif;
    margin:auto;

}
@media screen and (max-width:600px){
   .cards-container .card{
        width:100%;
        margin: 0;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);

    }
    .support-paragraph{
        width:90%;
        font-size:18px;
    }
    .cards-container{
        justify-content:center;
        align-items: center;
    }
}