
.error-container {  
  min-height: 100vh;
/*   background: url("https://wallpapercave.com/wp/6SLzBEY.jpg") no-repeat left top; */
  background-size: cover;  
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.text h1{
  color: #011718;
	margin-top: -200px;
  font-size: 15em;
	text-align: center;
	text-shadow: -5px 5px 0px rgba(0,0,0,0.7), -10px 10px 0px rgba(0,0,0,0.4), -15px 15px 0px rgba(0,0,0,0.2);
	font-family: monospace;
  font-weight: bold;
}

.text h2{
  color: black;
  font-size: 5em;
	text-shadow: -5px 5px 0px rgba(0,0,0,0.7);
	text-align: center;
	margin-top: -150px;
	font-family: monospace;
  font-weight: bold;
}
.text h3{
  color: white;
	margin-left: 30px;
  font-size: 2em;
	text-shadow: -5px 5px 0px rgba(0,0,0,0.7);
	margin-top: -40px;
	font-family: monospace;
  font-weight: bold;
}
