.home{
    background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(../images/library.jpg);
    width:100%;
    background-size:cover;
    min-height:90vh;
    z-index:-1;
    padding:2em;
    color:#fff;
    background-position: center;
 
}
.hero-banner{
    width:60%;
position:absolute;
    top:60%;
}

h1,h2,h3,h4{
    color:inherit;
    font-family: sans-serif;
}
.search-bar{
    width:150px;
    position: relative;
    float:right;
    margin:5px 1em;
    z-index:1;
}
.fa-search{
    position:absolute;
    right:10px;
    bottom:10px;
}
.search-input{
    width:100%;
    border:1px inset silver;
    border-radius: 30px;
   outline: none;
    padding: 2px 5px;
    font-size:16px;
    text-transform: uppercase;

    background: transparent;
}

.text-light{
color:#fff;
}