.landing{
    width:100%;
    background-size:cover;
    z-index:-1;
    padding:2em;
    color:#000;
    min-height:89vh;
    overflow:auto;
    background-position: center;
 
}
.landing-banner{
    color:skyblue;
    font-size: 36px;
    font-weight: bold;
    display: block;
    
}
.landing-logo{
    width:100%;
    margin: auto;
    display:block;
}
.img-bg{
    background-image:url(../images/butterfly.jpg)
}

.landing-info{
    /* width:60%; */
    position:absolute;
    text-align: center;
    top:15%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:500;
    font-size:22px;
    color:rgb(63, 163, 177);
    left:50%;
    transform:translate(-50%);
}

h1,h2,h3,h4{
    color:inherit;
    font-family: sans-serif;
}

.text-light{
color:#fff;
}

@media screen and (max-width:600px){
.landing-info{
    top:20%;
    width:100%;
}
.landing-logo{
    width:300px;
    display:block;
}
  } 

  @media screen and (max-width:300px){
    .landing-info{
        top:20%;
        width:90%;
    }
    .landing-logo{
        width:200px;
        display:block;
    }

      } 
@media screen and (max-height:400px){

    .search-container{
        top:55%;
    }
    .landing-logo{
        width:200px;
    }

    .footer{
        width:20%;
        right:0;
    }
  } 