.landing {
    /* padding:2em; */
    /* width: 100%; */
    height: calc(100vh - var(--nav-height));
    color: #000;
    overflow: auto;
    position: relative;
}

.landing-content {
    width: 50%;
    position: relative;
    margin: 1rem auto;
    padding: 0 10px;
    display: flex;
    /* border: 1px solid rgb(46, 165, 72); */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.landing-banner {
    display: block;
    margin: auto;
    width: 300px;
}
.landing-logo{
    font-size:64px;
    font-family: sans-serif;
    color:#fff;
}
.landing-slogan{
    display: flex;
    justify-content: center;
    color:#fff;
    align-items: center;
    /* flex-wrap: wrap; */
    width:100%;
    font-size: 18px;
    font-family: 'Montserrat' sans-serif;
}
.landing-logo-img {
    width: 50px; 
    /* height:100px; */
    object-fit: contain;
    margin-left:10px;
    /* filter: contrast(80%); */
    /* filter: brightness(150%); */
}

.landing-info {
    width:fit-content;
    margin: 1rem auto;
    line-height: 2.5rem;
    text-align: center;
}

.landing-info p {
    margin:1rem 0;
    font-weight:bold;
}

.recent-container {
    width: 80%;
    margin: 0 auto;
}

.landing-recent {
    grid-template-columns: repeat(auto-fit, minmax(50px, 150px));
    grid-template-rows: repeat(auto-fit, minmax(100px, 100px));
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(15, 201, 15); */
}

/* landing recent items ul grid */

.recent-grid {
    display: grid;
    width: 100%;
    gap: 1rem;
}

.recent-item {
    border-radius: 5%;
    min-height: 50px;
    font-weight: 600;
    /* text-transform: lowercase; */
    text-transform: capitalize;
    word-break: keep-all;
    height: auto;
    display: flex;
    font-family: inherit;
    font-size: 14px;
    padding: 0.4rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.recent-item:nth-child(1) {
    background-color: #75108D;
}

.recent-item:nth-child(2) {
    background-color: #db6104;
}

.recent-item:nth-child(3) {
    background-color: #190AB5;
}

.recent-item:nth-child(4) {
    background-color: #BF0D00;
}

.recent-item:nth-child(5) {
    background-color: #008712;
}

.recent-item:nth-child(6) {
    background-color: #A37041;
}

.inherit {
    color: inherit;
}
@media screen and (max-width:600px){

    .landing-slogan{
        font-size: 14px;
    }
}