.notes{
    position:absolute;
    top:30%;
    left:2em;
    max-height:65vh;
    overflow:auto;
    width:60%;
    clear:both;
    padding:15px;
    background-color:#fff;
    /* box-shadow: 0 0 2px 2px rgb(243, 241, 241); */

}
.notes-list{
    display:flex;
    margin-top:1em;
    flex-direction:column;
    /* box-shadow: 0 0 4px rgb(223, 221, 221); */

}
.notes-list:nth-child(even){
    background-color:#eee;

}
.notes-item{
    display:flex;
    padding:5px;
    width:100%;
    justify-content: space-between;
    align-items:center;
    display:flex;
    flex-wrap:wrap;
    box-shadow: -2px 2px 4px rgb(223, 221, 221);
}
.unit-code{
    color:#111;
    /* font-size: 12px; */
    margin-right:12px;
}
.notes-name{
    word-break: break-all;
    font-weight: 400;
    font-size: 12px;

}
.notes-unit-name{
    padding:5px;
    font-size:12px;
    font-weight: 100;
    width:100%;
    color:#848488;
}
.unavailable{
     position:absolute;
    top:30%;
    width:60%;
    color:orange;
}
@media screen and (max-width:600px){
    .notes{
        width:80%;
        top:30%;
        left:50%;
        transform:translate(-50%);
    }
}
@media screen and (max-width:340px){
    .notes{
        width:80%;
         top:35%;
    }
}
@media screen and (max-width:270px){
    .notes{
        width:80%;
         top:45%;
    }
     .unavailable{
     position:absolute;
    top:40%;
    width:80%;
    color:orange;
}
}
@media screen and (max-height:400px){
    .notes{
        width:80%;
         top:50%;
    }
    .unavailable{
    top:50%;
    color:orange;
}
}
