.notes-container{
    /* border:2px solid red; */
    display:flex;
    justify-content:center;
    align-items:center;
}
.notes{
    z-index:0;
    /* padding:15px; */
    width:80%;
    background-color:#fff;
    
}
.notes-list{
    display:flex;
    margin-top:1em;
    max-height:500px;
    overflow:auto;
    flex-direction:column;
    /* box-shadow: 0 0 4px rgb(223, 221, 221); */

}
.notes-item{
    display:flex;
    margin:1px 0;
    padding:5px;
    background-color:rgb(237, 237, 237);
    width:100%;
    justify-content: space-between;
    align-items:center;
    color:#000;
    display:flex;
    flex-wrap:wrap;
    box-shadow: -4px 2px 2px rgb(213, 211, 211);
}
.unit-code{
    color:#111;
    /* font-size: 12px; */
    margin-right:12px;
}
.notes-name{
    word-break: break-all;
    color:inherit;
    font-weight: 400;
    text-transform:capitalize;
    max-width:70% ;
    font-size: 14px;

}
.notes-unit-name{
    padding:5px;
    font-size:12px;
    font-weight: 100;
    width:100%;
    color:#848488;
}
.unavailable{
     position:absolute;
    top:30%;
    width:60%;
    margin-left: 1em;
    color:rgb(204, 79, 7);
}
