@media screen and (max-width:300px) {
    .search-container-top {
        width: 100%;
        /* left: 50%; */
        /* transform: translate(-50%); */
    }
}

@media screen and (min-width:1600px) {
    .form-container {
        width: 80%;
    }
    .search-container {
        top: 45%;
    }
}

@media screen and (max-height:600px) {
    .search-container {
        top: 35%;
    }
  
}

@media screen and (max-width:396px) {
    .notes {
        width: 80%;
        top: 30%;
    }
}

@media screen and (max-width:300px) {
    .notes {
        width: 80%;
        top: 45%;
    }
}

@media screen and (max-width:270px) {
    .unavailable {
        position: absolute;
        top: 40%;
        width: 80%;
    }
}

@media screen and (max-height:400px) {
    .notes {
        width: 80%;
        top: 65%;
    }
    .unavailable {
        top: 60%;
    }
}

/* Landing css */

@media screen and (max-width:650px) {
    .landing-info {
        font-size: 30px;
        max-width: 40%;
    }
    .landing-logo {
        width: 250px;
        display: block;
    }
}

@media (max-width:600px) {
    
    
    .landing-content {
        top: 15%;
    }
    .landing-info {
        max-width: 100%;
        font-size: 28px;
    }
    .landing-logo {
        width: 250px;
        display: block;
    }
    .toupload-container {
        min-width: 80%;
        width: 90%;
    }
    .search-container {
        width: 100%;
        margin: 10px auto;
    }
    .banner {
        top: -150px;
        width: 200px;
    }
    .form-container {
        width: 80%;
    }
}

@media screen and (max-width:300px) {
    .landing-info {
        top: 20%;
        width: 90%;
    }
    .landing-logo {
        width: 200px;
        display: block;
    }
}

@media screen and (max-height:400px) {
    .search-container {
        top: 55%;
    }
    .landing-logo {
        width: 150px;
        display: none;
    }
    .landing-info {
        top: 40%;
    }
    .footer {
        width: 20%;
        right: 0;
    }
}

@media screen and (max-height:500px) {
    .search-container {
        top: 55%;
    }
    .landing-logo {
        width: 150px;
    }
    .footer {
        width: 20%;
        right: 0;
    }
}

/* Upload container */

@media screen and (max-width:200px) {
    .upload-item-name {
        word-break: break-all;
    }
}