@media screen and (max-width:300px) {
    .search-container-top {
        width: 100%;
        /* left: 50%; */
        /* transform: translate(-50%); */
    }
}

@media screen and (min-width:1600px) {
    .form-container {
        width: 80%;
    }
    .landing-content>div {
        margin-top: 1rem;
    }
    .landing-content {
        justify-content: center;
    }
    .search-container {
        margin: 0 auto;
    }
}

@media screen and (max-height:600px) {
    .search-container {
        top: 35%;
    }
}

@media screen and (min-height:800px) {
    .landing-content {
        margin-top: 2rem;
        min-height: 70%;
        justify-content: center;
    }
}

@media screen and (max-height:400px) {
    .notes {
        width: 80%;
    }
}

/* Landing css */

@media (max-width:600px) {
    .landing-content {
        margin: 2rem auto 0;
    }
    .current-files-list {
        min-width: 250px;
    }
    .landing-info {
        padding: 0 1rem;
    }
    .landing-info h5 {
        font-size: 22px;
        font-weight: 400;
    }
    .toupload-container {
        min-width: 80%;
        width: 90%;
    }
    .upload-item-name {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .search-container {
        width: 90%;
        margin: 1rem auto;
    }
    .banner {
        top: -150px;
        width: 200px;
    }
    .form-container {
        width: 80%;
    }
    .landing-recent {
        grid-template-columns: repeat(auto-fit, minmax(50px, 135px));
        grid-template-rows: repeat(3, 1fr);
        /* gap: 10px; */
    }
    .tab-navigation {
        width: 100%;
    }
    .recent-container {
        width: 90%;
    }
}

@media (max-width:900px) {
    .tab-navigation {
        width: 100%;
    }
}

@media screen and (max-height:400px) {
    .search-container {
        top: 55%;
    }
    .footer {
        width: 20%;
        right: 0;
    }
}

@media screen and (max-height:500px) {
    .footer {
        width: 20%;
        right: 0;
    }
}

/* Upload container */

@media screen and (max-width:200px) {
    .upload-item-name {
        word-break: break-all;
    }
}

@media screen and (max-width:820px) {
    .landing-content {
        width: 100%;
    }
}

@media screen and (max-height:1000px) {
    .current-files-list {
        max-height: 400px;
    }
}