/* css for unit notes page */

.unit-container {
    width: 100%;
    /* background-color: #fff; */
    color:#fff;
    transition:background 0.3s ease-in;
}

.grid-container {
    display: grid;
    width: 85%;
    margin: 0 auto;
    min-height: calc(100vh - 85px);
    height: 100%;
    overflow-x:hidden;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, minmax(120px, auto));
    grid-template-areas: "top top top" "notes notes  recent";
}
.highlight{
    background-color: rgb(18, 230, 64);
}
.top-content-section {
    grid-area: top;
    padding: 1rem;
    display: flex;
    max-height:250px;
    position:relative;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
}
.darkGradient{
    background: linear-gradient(135deg, #4f0800, #37beac);
    
}
.lightGradient{
    background: linear-gradient(135deg, #7C2500, #55CFD7);

}

.top-content-inner-section {
    display: flex;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    height: auto;
    justify-items: center;
    align-items: center;
    /* border: 1px solid rgb(182, 74, 74); */
    justify-content: space-between;
}

.inner-section-content {

    display: flex;
    /* flex-direction: column; */
    /* border: 1px solid rgb(182, 74, 74); */
    flex-direction: row-reverse;
    width: 60%;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: flex-end;
    max-width: 100%;
}

.inner-section-content h2 {
    font-size: 20px;
}

.inner-section-content h3 {
    margin-right: 1rem;
}

.search-container-top {
    position: relative;
    width: 300px;
    /* top:0; */
    /* right: 0; */
    z-index: 3;
}

.notes-section {
    grid-area: notes;
    display: flex;
    min-height: 65vh;
    border-radius: 10px;
    flex-direction: column;
    /* border: 1px solid red; */
    justify-content: flex-start;
}
.recent-item a{
    display:flex;
    flex-direction: column;
    font-size:12px;
    color: rgb(220, 220, 220);
    
}

.recent-container {
    grid-area: recent;
}


.unit-recent {
    grid-template-columns: 1fr;
    /* border: 1px solid red; */
    margin-top: 1rem;
    justify-content: flex-end;
    align-content: start;
    justify-items: flex-end;
    grid-template-rows: repeat(auto, 1fr);
}

.unit-recent li {
    width: 60%;
    border-radius: 5px;
}

.tab-navigation {
    padding: 10px;
    color:inherit;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    transition:background 0.3s ease-in;
}

.tab-nav-item {
    position: relative;
}

.tab-nav-item {
    font-size: 14px;
    font-weight: 600;
    color:inherit;
}

.slider {
    width: 0;
    position: absolute;
    border-radius: 5px;
    height: 5px;
    bottom: -5px;
    left: 0;
    transition: all 0.4s ease-in;
}

.active {
    background-color: var(--secondary-color);
    width: 100%;
    height: 5px;
}
@media screen and (max-width:370px){
 .search-container-top{
     width:250px;
 }   
  
}
@media screen and (max-width:600px) {
    .grid-container {
        grid-template-areas: "top top top" "notes notes notes" "recent recent recent"
    }
    .top-content-inner-section {
        justify-content: center;
    }
    .inner-section-content {
        width: 80%;
        justify-content: center;
        margin: 1rem auto;
        align-content: center;
    }
    .tab-navigation {
        width: 100%;
    }
}
@media screen and (max-width:420px){
 .inner-section-content h2{
     font-size: 18px;
 }   
}
@media screen and (max-width:740px){
 .top-content-inner-section {
 align-items:center;
 justify-content: center;
}   
.inner-section-content {
    /* margin-right:0.5rem; */
    width:100%;
    align-items:center;
    justify-content: center;
 }   
}
@media screen and (max-width:920px){
 
}

@media screen and (max-width:800px) {
    .tab-navigation {
        width: 100%;
    }
    .unit-recent {
        grid-template-columns: repeat(auto-fit minmax(100px, 150px));
        grid-template-rows: repeat(1fr, auto);
        width: 100%;
        justify-items: center;
    }
    .unit-recent li {
        width: 100%;
    }
}