
   .upload-container{
    width:100%;
    height:100%;
} 
.upload-header{
    margin: 1em ;
    text-align: center;
    color:skyblue;

}   
    .buttontext{
        font-weight: bold ;
    }
    .upload-form{
        display: flex ;
        justify-content: center ;
        align-items: center ;
        flex-wrap: wrap ;
        width:200px;
        /* border:1px solid rgb(38, 54, 44); */
        position: relative ;
        flex-direction: column ;
      

    }
    .upload-file-label{
        margin:1em;
    }
    .upload-flexbox{
            display: flex ;
            width: 100% ;
            margin: auto ;
            /* border:1px solid rgb(16, 139, 63); */
            padding:1em;
            flex-wrap: wrap ;
            align-items: flex-start ;
            justify-content: space-evenly;  

        }
    .toupload-container{
        width:50%;
        margin-top:10px;
        max-height:50vh;
        border-radius: 5px;;
        background-color:#fafafa56 ;
        overflow: auto;
        }
    .toupload-item{
            display: flex ;
            padding:5px;
            flex-wrap: wrap ;
            width:100%;
            align-items: center ;
            justify-content: space-between ;

        }
    .upload-input{
        text-transform: uppercase ; 
        margin:1em 0;
        border:none;
        border-bottom: 1px solid silver;
        border-radius: 5px;
        text-align: center;
        outline: none;
        padding:10px;
        width:100%;
        color:black 
    }
.upload-item-name{
    max-width:70%;
    word-wrap: break-word;
    /* word-break: break-all; */
    
}
.margins{
    margin: 10px 
}


.center{
    text-align: center ;
}
.textstyles{
    text-align: center ;
}

@media screen and (max-width:600px){
    .toupload-container{
        width:100%;
    }
}
@media screen and (max-width:200px){
   
    .upload-item-name{
    word-break: break-all;
}}