
   .upload-container{
    width:100%;
    height:100%;
    color:#000;
   
} 
.upload-header{
    margin: 1em auto;
    text-align: center;

}   
    .buttontext{
        font-weight: bold ;
    }
    .upload-form{
        /* display: flex ; */
        justify-content: center ;
        align-items: center ;
        flex-wrap: wrap ;
        width:200px;
        /* border:1px solid rgb(38, 54, 44); */
        position: relative ;
        flex-direction: column ;
      

    }
    .upload-file-label{
        margin:1em;
    }
    .upload-flexbox{
            display: flex ;
            width: 100% ;
            min-height:300px;
            margin: auto ;
            padding:1em;
            overflow:auto;
            flex-wrap: wrap ;
            align-items: flex-start ;
            justify-content: space-evenly;  

        }
.upload-grid{
     display:grid;
     justify-content:center;
     padding:1em;
     grid-gap: 1em;
     width:100%;
     border:1px solid red;
     align-content: center;
    grid-template-columns:1fr  2fr 2fr;
}

    .toupload-container{
        max-width:500px;
        min-width:350px;
        margin-top:10px;
        max-height:50vh;
        border-radius: 5px;;
        background-color:var(--primary) ;
        overflow: auto;
        }
    .toupload-item{
            display: grid;
            padding:5px;
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-rows: 1fr;
            width:100%;
            align-items: center ;
            justify-content: space-evenly ;

        }
    .upload-input{
        text-transform: uppercase ; 
        margin:1em 0;
        border:none;
        border-bottom: 1px solid silver;
        border-radius: 5px;
        text-align: center;
        outline: none;
        padding:10px;
        width:100%;
        color:black 
    }
    .current-files-list{
        /* position:absolute; */
        margin:1em;
        top:20%;
        padding:1em;
        max-height:500px;
        overflow-y: auto;
         min-width:300px;
        background-color:rgb(252, 252, 252);
        border-radius:5px;

        left:0;
    

    }
.upload-item-name{
    word-wrap: break-word;
    /* word-break: break-all; */
    
}
.margins{
    margin: 10px 
}


.center{
    text-align: center ;
}
.textstyles{
    text-align: center ;
}

