.App {
    color: #111;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

* {
    text-decoration: none;
}

nav {
    padding: 0 2em;
    color: #111;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

ul li {
    margin: 10px;
    font-family: Poppins, Arial;
}

.login-container {
    height: 80vh;
    position: absolute;
    width: 100%;
    background-image: url(images/butterfly.jpg);
    background-size: cover;
    background-position: 20%, -20%;
    background-repeat: no-repeat;
}

#notes>div {
    transition: all 0.3s ease-out;
}