body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height:100vh;
  height:auto;
  background-image:linear-gradient(45deg,rgba(153, 35, 35, 0.377),rgba(34, 97, 139, 0.699)),url('./images/butterfly.jpg');
    /* background-image:linear-gradient(),url('./images/oldcover.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
