@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /* object-fit: cover; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#5804692a, #701dce41),url(./images/bgs/2100305.jpg);
  background-size: cover;

  backdrop-filter: contrast(115%) brightness(100%);
  background-position: center;
  background-repeat: no-repeat;
}

html, body {
  min-height: 100vh;
  width: 100%;
}
#particles-js{

  width:100%;
  height:100%;
  position: absolute;
}
html {
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  width: 100%;
  min-height: 100vh;
}

