@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /* object-fit: cover; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#0009, #0009), url(./images/library.jpg);
  background-size: cover;
  backdrop-filter: contrast(105%) brightness(80%);
  background-position: 0 10%;
  /* background-repeat: no-repeat; */
}

html, body {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  width: 100%;
  height: 100%;
}